# NPM configuration for Ark7 frontend
engine-strict=false
legacy-peer-deps=true
node-linker=hoisted
public-hoist-pattern[]=*
shamefully-hoist=true
strict-peer-dependencies=false
# Fix for permission issues
unsafe-perm=true
